<p id="notice"><%= notice %></p>

<h1>Custom Fields</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Description</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_fields.each do |custom_field| %>
      <tr>
        <td><%= custom_field.label %></td>
        <td><%= custom_field.description %></td>
        <td><%= custom_field.field_type %></td>
        <td><%= link_to 'Show', shop_custom_field_path(@shop, custom_field) %></td>
        <td><%= link_to 'Edit', edit_shop_custom_field_path(@shop, custom_field) %></td>
        <td><%= link_to 'Destroy', shop_custom_field_path(@shop, custom_field), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Field', new_shop_custom_field_path(@shop) %>
